@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bebidas</title>
</head>
<body>
    @foreach (var item in Model)
    {
        @if (item.CodigoCategoria == 2 && item.StockProducto > 0)
        {
            <div class="col-lg-4 col-md-6 pb-4">
                <!-- Card-->
                <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                    <div class="card-body px-3 pt-3 pb-1 row">
                        <div class="col-7"><label class="float-left">@item.NombreProducto</label></div>
                        <div class="col-5"><label class="float-right"><span class="text-info h5">@item.PrecioProducto</span></label> </div>
                    </div>
                    <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@item.UrlImagen" alt="Imagen Card">
                    <div class="card-body p-1 px-3 row">
                        <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                            <p> @item.DescripcionProducto</p>
                        </div>
                        <div class="col-12 p-1">
                            <a asp-action="ElegirCantidad" asp-route-id="@item.CodigoProducto" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Ver Detalle</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</body>
</html>