@model IEnumerable<TestGitHub.Models.Producto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "GetListaProductos";
    List<Producto> carrito = Context.Session.GetObject<List<Producto>>(WC.SessionCarroCompras);
}

<h1>GetListaProductos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEscogida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProducto)
            </th>
            <th>
                <a class="btn btn-outline-success" asp-action="HacerPedido" asp-controller="Producto">
                    Hacer pedido
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.CodigoProducto);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @item.CantidadEscogida
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioProducto)
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="EliminarProducto" asp-controller="Producto" asp-route-cod="@item.CodigoProducto">
                        Borrar del carrito
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
